$black: #000;
$white: #fff;
$dark: #293241;
// navbar main
$navbar-text-primary: #b6b6b6;
$navbar-text-secondary: #ececec;
$navbar-background-primary: #23232e;
$navbar-background-secondary: #141418;

$body: #D7DDEA;

// Blues: https://coolors.co/012a4a-013a63-01497c-014f86-2a6f97-2c7da0-468faf-61a5c2-89c2d9-a9d6e5
$blue-darkest: #012A4A;
$blue-darker: #013A63;
$blue-dark: #01497c;
$blue: #014F86;
$blue-light: #2A6F97;
$blue-lighter: #2C7DA0;
$blue-lightest: #468FAF;

// Complimentary colours
$red: #af4f46;
$brown: #af8346;
