<div class="game-highlights" *ngIf="game; else noGameElseBlock">
    <h1 class=header>{{game.title}}</h1>
    <h2 class=sub-header>By: {{game.providerName}}</h2>
    <div class="game-card">
        <a [routerLink]="['/game', game.slug]" routerLinkActive="active" class="game-link">
            <img class="card-background" *ngIf="game.thumb; else noThumbElseBlock" src="{{game.thumb.url}}" alt="{{game.thumb.title}}">
            
            <ng-template #noThumbElseBlock>
            </ng-template>
        </a>
    </div>
    <a class="button" href="{{game.startUrl}}" target="_blank">Play for fun!</a> 
</div>
<ng-template #noGameElseBlock>
    <div class="thumb-background">
        <h1>Game not found!</h1>
        
        <!-- All Games -->
        <a class="button" routerLink="/browse/all" routerLinkActive="active"> View all games! </a>
    </div>
</ng-template>