@import "@app/colors";
@import "@app/mixins";

.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/images/hero-background.jpg");
	height: 50vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: 1rem;

	.hero-text {
		text-align: center;
		position: absolute;
		// Center
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		font-size: 2rem;

		.button {
			margin-top:2rem;
			text-decoration: none;
			border: none;
			outline: 0;
			display: inline-block;
			padding: 10px 25px;
			color: $body;
			background-color: $blue;
			text-align: center;
			cursor: pointer;
			&:hover {
				background-color: $blue-darker;
			}
		} 
	}
}