@import "@app/colors";
@import "@app/mixins";

/* Inspired by: https://www.youtube.com/watch?v=biOMz4puGt8&ab_channel=Fireship */
.navbar {    
    position: fixed; // Doesn't scroll
    background-color: $navbar-background-primary;
    z-index:10;
    ul.navbar-nav {
        list-style:none;
        display:flex;
        flex-direction:column;
        align-items:center;

        li.nav-item {
            width:100%;

            a.nav-link {
                display: flex;
                align-items: center;
                height: 5rem; // matches the width
                color: $navbar-text-primary;
                text-decoration: none;
    
                .link-text {
                    display: none; // Show only icon
                    margin-left: 1rem;
                    text-align: center;
                }
    
                fa-icon {
                    min-width: 2rem;
                    margin: 0 1.5rem;
                    color:$navbar-text-primary;
                    font-size: 1.5rem;
                }
            }
            // Navbar Link Hover
            &:hover {
                a.nav-link {
                    .link-text{
                        color: $navbar-text-secondary;
                    }
                    background-color: $navbar-background-secondary;
                    fa-icon {
                        color:$blue-lightest;
                    }
                }
            }
        }
        /* USE IF WE HAVE SETTINGS
        li.nav-item:last-child {
            margin-top:auto; // Push all the way to the bottom
        }
        */
        li.logo {
            @extend .nav-item;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.3ch;
            font-size:1rem;
            a.nav-link {
                .link-text{
                    color: $navbar-text-secondary;
                }
                background-color: $navbar-background-secondary;
                fa-icon {
                    color:$blue-lightest;
                }
            }
        }
    }
    
}

/* Large screens */
//@include breakpoint("xlarge") {
@media only screen and (min-width:767px) {
    .navbar {
        width: 5rem;
        height: 100vh; // full height
        transition: 200ms ease; // Simple animation

        // Navbar Hover
        &:hover {
            width: 16rem;
            ul.navbar-nav{
                li.nav-item{
                    a.nav-link {
                        .link-text {
                            display: block; // Show on hover
                        }
                    }
                }
            }
        }
    }
}

/* Small screens */
@include breakpoint("small") {
//@media only screen and (max-width:600px) {
    .navbar {
        bottom: 0;
        width: 100vw; // full width
        height: 4rem;

        .logo {
            display:none;
        }

        ul.navbar-nav {
            flex-direction: row;
            li.nav-item{
                a.nav-link {
                    justify-content: center;
                    fa-icon {
                        padding-bottom: 1rem;
                    }
                }
            }
        }
    }
}

