<!-- Game Thumbnail -->
<li *ngIf="game!==undefined">
    <div class="game-card">
        <a [routerLink]="['/game', game.slug]" routerLinkActive="active" class="game-link">
            <img class="card-background" *ngIf="game.thumb; else noThumbElseBlock" src="{{game.thumb.url}}" alt="{{game.thumb.title}}">
            
            <ng-template #noThumbElseBlock>
                <div class="card-default-background">
                    <h2 class="card-title">{{ game.title }}</h2>
                </div>
            </ng-template>
        </a>
    </div>
</li>